@import url("dist/reset.css");
@import url("dist/reveal.css");
@import url("dist/theme/sky.css");
@import url("plugin/highlight/monokai.css");

img[alt="GitHub"] {
  vertical-align: middle;
  height: 50px;
}

img[alt="LinkedIn"] {
  vertical-align: middle;
  height: 50px;
}

img[alt="QR"] {
  height: 200px;
}
