---
name: Maven

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

env:
  MAVEN_OPTS: >
    -Dhttps.protocols=TLSv1.2
    -Dmaven.repo.local=.m2/repository
    -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN
    -Dorg.slf4j.simpleLogger.showDateTime=true
    -Djava.awt.headless=true
  MAVEN_CLI_OPTS: >
    --batch-mode
    --errors
    --fail-at-end
    --show-version
    -DinstallAtEnd=true
    -DdeployAtEnd=true
  MAVEN_CLI_EXTRA_OPTS: ""

jobs:
  maven:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11, 17, 21, 25]
        subproject:
          [
            "safe/java-lang-foreign-memorysegment",
            "safe/java-lang-webservice",
            "safe/java-lang-foreign-webservice",
            "unsafe/jdk-internal-misc-unsafe",
            "unsafe/sun-misc-unsafe",
            "unsafe/sun-misc-unsafe-webservice",
          ]
    name: ${{ matrix.subproject }} - Java ${{ matrix.java }}
    steps:
      - name: Set REPOSITORY
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "REPOSITORY=${GITHUB_REPOSITORY#*/}" >> "${GITHUB_ENV}"
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set SOURCE_DATE_EPOCH
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> "${GITHUB_ENV}"
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Set MAVEN_CLI_EXTRA_OPTS for JDK 8
        if: matrix.java == 8
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          # Forcing dependency versions to a version compatible
          # with Java 8. Dependency check version does not matter due to
          # dependencyCheck.skip=true. But otherwise Maven initialization
          # fails with error: "java.lang.TypeNotPresentException:
          # Type org.owasp.dependencycheck.maven.CheckMojo not present".
          echo 'MAVEN_CLI_EXTRA_OPTS=-Dspotbugs.version=4.8.6.6 -DdependencyCheck.version=10.0.4' >> "${GITHUB_ENV}"
      - name: Build with Maven
        working-directory: ${{ matrix.subproject }}
        if: |
          ( matrix.subproject == 'safe/java-lang-foreign-memorysegment' && matrix.java >= 22 )
          || ( matrix.subproject == 'safe/java-lang-webservice' && matrix.java >= 17 )
          || ( matrix.subproject == 'safe/java-lang-foreign-webservice' && matrix.java >= 22 )
          || ( matrix.subproject == 'unsafe/jdk-internal-misc-unsafe' && matrix.java >= 11 )
          || ( matrix.subproject == 'unsafe/sun-misc-unsafe' && matrix.java >= 8 )
          || ( matrix.subproject == 'unsafe/sun-misc-unsafe-webservice' && matrix.java >= 17 )
        shell: bash
        run: |
          set -euo pipefail
          # Do not set IFS=$'\n\t', breaks ${MAVEN_CLI_OPTS}
          # shellcheck disable=SC2086 # [Double quote to prevent globbing and word splitting]: splitting is desired for MAVEN_CLI_OPTS
          ./mvnw ${MAVEN_CLI_OPTS} ${MAVEN_CLI_EXTRA_OPTS} -DdependencyCheck.skip=true verify
      - name: Set ARTIFACT_NAME
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "ARTIFACT_NAME=${{ matrix.subproject }}-${{ matrix.java }}" | sed -e 's!/!-!g' >> "${GITHUB_ENV}"
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ matrix.subproject }}/target/
      - name: Clean up
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          rm "${HOME}/.m2/settings.xml"
  build_plugins:
    runs-on: ubuntu-latest
    name: Build Plugins
    steps:
      - name: Set REPOSITORY
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "REPOSITORY=${GITHUB_REPOSITORY#*/}" >> "${GITHUB_ENV}"
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set SOURCE_DATE_EPOCH
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> "${GITHUB_ENV}"
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17
      - name: Build with Maven
        working-directory: spotbugs
        shell: bash
        run: |
          set -euo pipefail
          # Do not set IFS=$'\n\t', breaks ${MAVEN_CLI_OPTS}
          # shellcheck disable=SC2086 # [Double quote to prevent globbing and word splitting]: splitting is desired for MAVEN_CLI_OPTS
          ./mvnw ${MAVEN_CLI_OPTS} verify
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: unsafe-plugin
          path: spotbugs/target/
      - name: Clean up
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          rm "${HOME}/.m2/settings.xml"
