---
name: Maven Check Versions

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  maven-check-versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        subproject:
          [
            "spotbugs",
            "safe/java-lang-foreign-memorysegment",
            "safe/java-lang-webservice",
            "unsafe/jdk-internal-misc-unsafe",
            "unsafe/sun-misc-unsafe",
            "unsafe/sun-misc-unsafe-webservice",
          ]
    name: Check versions of ${{ matrix.subproject }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Check the versions
        uses: docker://leplusorg/maven-check-versions:3.9.11@sha256:cabe45dc45c644032ba61b2f43e304baf382e834efe76d74a81c666b893c5dc2
        with:
          working_directory: ${{ matrix.subproject }}
        env:
          MAVEN_CLI_EXTRA_OPTS: "-DprocessDependencyManagementTransitive=false -Dmaven.version.ignore=(?i).+-(alpha|beta).+,(?i).+-m\\d+,(?i).+-rc\\d+"
